@import url('https://fonts.googleapis.com/css2?family=Josefin+Slab:wght@100&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* GLOBAL STYLES */
.hamburger {
    position: absolute;
    height: 80px;
    width: 80px;
    background-color: black;
    right: 0;
    bottom: 0;
    border-radius: 50%;
    margin: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    z-index: 10;
}
.hamburger:hover{
    cursor: pointer;
}
.hamburger div {
    height: 5px;
    width: 50px;
    background-color: white;
    border-radius: 1px;
    margin: 5px;
    transition: all ease-out 100ms;
}
.hamburger-close .line-2 {
    display: none;
}
.hamburger-close .line-1 {
    transform: rotate(45deg) translate(4px, 7px);
}
.hamburger-close .line-3 {
    transform: rotate(-45deg) translate(3px, -6px);
}
.navlinks {
    position: absolute;
    height: 100vh;
    width: 100vw;
    background-color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    left: -100vw;
    transition: all ease-out 200ms;
}
.navlinks li {
    list-style: none;
    margin: 15px;
    display: flex;
    flex-direction: column;
}
.navlinks li::after {
    content: "";
    width: 80vw;
    height: 3px;
    background-color: rgb(199, 195, 195);
}
.navlinks-show {
    left: 0;
}

/* HOME PAGE */
#home {
    background: green;
    height: 100vh;
    width: 100vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
#home h1, #home h2 {
    margin: 10px 0;
    color: white;
    font-family: 'Josefin Slab', serif;
}
#home h1 {
    font-size: 4em;
    margin: 10px 0;
    color: white;
}
#home h2 {
    margin: 30px 0;
    color: white;
}
